<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.offercat.dao.AIMessageMapper">

    <insert id="insertConsult" parameterType="com.offercat.entity.AiConsult" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ai_consult (user_id, user_content, ai_content, create_time)
        VALUES (#{userId}, #{userContent}, #{aiContent}, #{createTime})
    </insert>

    <select id="selectHistoryByUserId" resultType="com.offercat.entity.AiConsult">
        SELECT * FROM ai_consult 
        WHERE user_id = #{userId} 
        ORDER BY create_time DESC
    </select>

</mapper>